<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container" th:fragment="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Home</a>
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/products}">Products</a></li>
                    <li><a th:href="@{/products/new}">Create new product</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h2>Spring Boot Example</h2>
        <h3>Welcome</h3>
        <img th:src="@{/images/boot.png}" width="200"/>
    </div>
</div>
</body>
</html>
